@charset "utf-8";
.bg-pink {
    background-color: pink;
}

.bg-gray {
    background-color: gray;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: rgb(0, 247, 255);
}

.bg-green {
    background-color: green;
}

.vh100 {
    height: 100vh!important;
}

img {
    width: 40%;
    height: 80%;
}

.deplete-animation{
    animation: deplete 1.3s linear forwards;
}

.expand-animation{
    animation: deplete 1.3s linear reverse forwards;
}

@keyframes deplete {
    0%{
        width: 100%;
        opacity: 1;
    }
    100%{
        width: 0%;
        opacity: 0;
    } 
}